{%extends 'home/base.html'%}
{%load static%}
{%block content%}

<div class="container">

    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="card " style="background-color:rgb(252, 166, 160); display: block;">
                <div class="card-header">
                  <div class="card-title"> <h4><p class="text-center"> Total Products</p></h4></div>
                </div>
                <div class="card-body">
                   <p class="text-center" style="font-size: 36px;"> {{totalproducts}}</p>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a href="{%url 'productlist'%}" > view all </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card " style="background-color:rgb(160, 252, 168); display: block;">
                <div class="card-header">
                  <div class="card-title"> <h4><p class="text-center">Today Profit</p></h4></div>
                </div>
                <div class="card-body">
                   <p class="text-center" style="font-size: 36px;"> {{todaysale}}</p>
                </div>
                <div class="card-footer">
                    <!-- <p class="text-center"><a href="{%url 'productlist'%}" > view all </a></p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
    <div class="row">
        <h3>Products Running short</h3>
    </div>
    <div class="row">
       
        <div class="col-sm-8">
            {%if products%}
            <table class="table table-primary" >
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Cost Price</th>
                    <th>Sale Price</th>
                    <th>model</th>
                    <th colspan="2">Action</th>
                </tr>
                <tr>

                </tr>
                {%for product in products%}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td style="background-color: red; color: white;">{{product.qty}}</td>
                    <td>{{product.costprice}}</td>
                    <td>{{product.saleprice}}</td>
                    <td>{{product.prod_model}}</td>
                    <td><a href="{%url 'deleteproduct' product.id %}" class="btn btn-danger">Delete</a></td>
                    <td><a href="{%url 'updateproduct' product.id%}" class="btn btn-primary">Edit</a></td>
                </tr>
                {%endfor%}
            </table>
        {%endif%}
           

        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {%if products%}
            <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}.
                    </span>
    
                    {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>
                    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {%endif%}
        </div>
        <div class="col-sm-2">

        </div>
    </div>

    <div class="row">
<p class="text-center"><h2>Top 5 selling Products</h2></p>
        <div class="col-sm-12">
            <table class="table table-primary">
                <tr>
                    <th>id</th>
                    <th>Model</th>
                    <th>Total Sale</th>
                </tr>
                {%for product in topProducts%}
                <tr>
                    <td> {{product.name}}</td>
                    <td>{{product.model}}</td>
                    <td>{{product.countsoldProduct}}</td>
                </tr>
                {%endfor%}
            </table>
           
          
        
        </div>
    </div>

</div>

{%endblock%}
