{%extends 'home/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
{%if product%}
<a href="{% url 'updateproduct' product.id %}" class="btn btn-danger">Add stock</a>
{%endif%}

<div class="container  " style="background-color: rgb(179, 241, 221);">
   
       
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <form action="" method="post">
                {% csrf_token %}
               <input type="text" list="productlist" placeholder="search product" name="product_id" class="form-control mt-3">
               <datalist id="productlist">
                {%for product in products%}
                    <option value="{{product.id}}">{{product.name}}</option>
                {%endfor%}
               </datalist> 
               <input type="number" name="qty" id="" placeholder="Qty" class="form-control mt-3" >
               <input type="number" name="dis" id="" placeholder="discount" class="form-control mt-3" >
               <p class="text-center"><button type="submit" class="btn btn-success mt-3">Sale Product</button></p>
            </form>
        </div>
        <div class="col-sm-3">
            
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 mt-3">
            <p class="text-center"><a href="{%url 'productlist'%}" >View All Products</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            {%if soldp%}
            <table class="table table-primary" >
                <tr>
                    <th>Name</th>
                    <th>date</th>
                    <th>Qty</th>
                    <th>Discount</th>
                    <th>Sale Price</th>
                    <th>model</th>
                    
                </tr>
                <tr>

                </tr>
                {%for product in soldp%}
                <tr>
                    <td>{{product.product.name}}</td>
                    <td>{{product.date}}</td>
                    <td>{{product.qty}}</td>
                    <td>{{product.discount}}</td>
                    <td>{{product.product.saleprice}}</td>
                    <td>{{product.product.prod_model}}</td>
                    
                </tr>
                {%endfor%}
            </table>
{%endif%}
           

        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {%if soldp%}
            <div class="pagination">
                <span class="step-links">
                    {% if soldp.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ soldp.previous_page_number }}">previous</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ soldp.number }} of {{ soldp.paginator.num_pages }}.
                    </span>
    
                    {% if soldp.has_next %}
                    <a href="?page={{ soldp.next_page_number }}">next</a>
                    <a href="?page={{ soldp.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {%endif%}
        </div>
        <div class="col-sm-2">

        </div>
    </div>

</div>
{%endblock%}